<p style="color: green"><%= notice %></p>

<div id="payments">
 <% if @payments.length == 0 %>
   <h2 class="text-center mt-5"> No transactions yet</h2>
  <% end %>

  <% @payments.each do |payment| %>
    <%= render payment %>
    <p>
      <%= link_to "Show this payment", payment %>
    </p>
  <% end %>
</div>

<div class="flex p-10 justify-center sm:px-40 md:py-15">
  <%= link_to "New Transaction", new_payment_path,  class: save_button_class %>
</div>