<div class="p-5">
  <h2 class="mb-2 text-center text-3xl font-bold tracking-tight text-darkBlue">New Category</h2>
  <%= render "form", category: @category %>
</div>
<br>

<div>
  <!-- %= link_to "Back to categories", categories_path % -->
</div>